
<footer>
    <div class="footer-top">
        <ul class="foot-nav">
            <li><a href="@Url.Action("Contactus","Home")">Contact Us</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#termsModal">Terms &amp; Conditions</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#policyModal">Privacy Policy</a></li>
        </ul>
        <div class="container">
            <p>
                <a href="#">topfuneralplan.co.uk</a> and the logo are registered trademarks of Web Search Media Limited. Data protection registration no: ZA233488.<br>
                Copyright 2017 © topfuneralplan.co.uk. All rights reserved.
            </p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>**Source - SunLife Cost of Dying Report 2016.</p>
        </div>
    </div>
</footer>