
<header id="home">
    <div class="navbar-header">
        <div class="top-head">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <a class="navbar-brand page-scroll" href="@Url.Action("Index","Home")">
                            <img src=@Url.Content("~/content/images/logo.png") width="" height="" border="0">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

