
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="float-sec">
    <div class="container">
        <div class="sm-banner-box">
            <div class="contact-info">
                <div class="con-details">
                    <p>
                        <b>To write to topfuneralplan.co.uk:</b><br>
                        Web Search Media Limited, <br>
                        49 Whitefriars Avenue, Harrow,<br>
                        HA3 5RQ.
                    </p>
                </div>
                <div class="con-details">
                    <p>
                        <b>To email: </b><br>
                        <a href="mailto:info@websearchmedia.co.uk">info@websearchmedia.co.uk</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
