
@{
    Layout = "~/views/shared/_layouthome.cshtml";
    ViewBag.Title = "Funeral Costs";
}



<div class="container">
    <div class="sm-banner-box">
        <h1>
            <b>
                <span>
                    Compare Your <br>
                    Funeral Costs<br>
                    Today
                </span>
            </b>
        </h1>
        <ul class="txt-list">
            <li><i class="tic-ico"></i> Guaranteed Acceptance</li>
            <li><i class="tic-ico"></i> Fix The Cost at Today's Prices</li>
            <li><i class="tic-ico"></i> No Medical Test Required</li>
            <li><i class="tic-ico"></i> Flexible Payment Options</li>
        </ul>
    </div>
</div>
          