
@{
    Layout = "~/views/shared/_layouthome.cshtml";
    ViewBag.Title = "Funeral Cover";
}



<div class="container">
    <div class="sm-banner-box">
        <!-- <h1><b><span>Pre-Paid <br />Funeral Plan</span></b></h1>-->

        <h1><b><span> Compare Top 10 Pre-Paid <br>Funeral Cover Now</span></b></h1>



        <ul class="txt-list">
            <li><i class="tic-ico"></i> Guaranteed Acceptance</li>
            <li><i class="tic-ico"></i> Fix The Cost at Today's Prices</li>
            <li><i class="tic-ico"></i> No Medical Test Required</li>
            <li><i class="tic-ico"></i> Flexible Payment Options</li>
        </ul>
    </div>
</div>
